---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
	{% if "backend" in page.categories %}
        <p>This is a backend post.</p>
    {% endif %}

    {% if "vision" in page.categories %}
        <p>This is a vision post.</p>
    {% endif %}
</div>